@import "tailwindcss";
@import "tw-animate-css";

/* Path to your installed `@blocknote/shadcn` package. */
@source "../node_modules/@blocknote/shadcn";

@source "./**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  letter-spacing: var(--tracking-normal);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tabstrip-rail {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabstrip-rail::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Applies some additional necessary border styles within the editor. */
@layer base {
  .bn-shadcn * {
    @apply border-border outline-ring/50;
  }
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  clip-path: circle(0 at 100% 100%);
  animation: reveal 1s;
  animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation: reveal 1s;
  animation-fill-mode: both;
}

@keyframes reveal {
  to {
    clip-path: circle(200vmax at 100% 100%);
  }
}

:root {
  --background: oklch(0.997 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6543 0.2341 34.1962);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8442 0.1457 209.2851);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.5602 0.2634 290.3195);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6307 0.2549 23.6145);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.6543 0.2341 34.1962);
  --chart-1: oklch(0.6543 0.2341 34.1962);
  --chart-2: oklch(0.5602 0.2634 290.3195);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8868 0.1822 95.3305);
  --chart-5: oklch(0.8758 0.2303 152.0212);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.6543 0.2341 34.1962);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9551 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.6543 0.2341 34.1962);
  --font-sans: Space Grotesk, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 100%;
  --shadow-color: #000000;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 50);
  --shadow-sm:
    4px 4px 0px 0px hsl(0 0% 0% / 100), 4px 1px 2px -1px hsl(0 0% 0% / 100);
  --shadow:
    4px 4px 0px 0px hsl(0 0% 0% / 100), 4px 1px 2px -1px hsl(0 0% 0% / 100);
  --shadow-md:
    4px 4px 0px 0px hsl(0 0% 0% / 100), 4px 2px 4px -1px hsl(0 0% 0% / 100);
  --shadow-lg:
    4px 4px 0px 0px hsl(0 0% 0% / 100), 4px 4px 6px -1px hsl(0 0% 0% / 100);
  --shadow-xl:
    4px 4px 0px 0px hsl(0 0% 0% / 100), 4px 8px 10px -1px hsl(0 0% 0% / 100);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 250);
  --tracking-normal: -0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1776 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1776 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.6543 0.2341 34.1962);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8442 0.1457 209.2851);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.709 0 0);
  --accent: oklch(0.5602 0.2634 290.3195);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6307 0.2549 23.6145);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(1 0 0);
  --input: oklch(0.1776 0 0);
  --ring: oklch(0.6543 0.2341 34.1962);
  --chart-1: oklch(0.6543 0.2341 34.1962);
  --chart-2: oklch(0.5602 0.2634 290.3195);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8868 0.1822 95.3305);
  --chart-5: oklch(0.8758 0.2303 152.0212);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.6543 0.2341 34.1962);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2178 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.6543 0.2341 34.1962);
  --font-sans: Space Grotesk, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 100%;
  --shadow-color: #ffffff;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 100% / 50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 100% / 50);
  --shadow-sm:
    4px 4px 0px 0px hsl(0 0% 100% / 100), 4px 1px 2px -1px hsl(0 0% 100% / 100);
  --shadow:
    4px 4px 0px 0px hsl(0 0% 100% / 100), 4px 1px 2px -1px hsl(0 0% 100% / 100);
  --shadow-md:
    4px 4px 0px 0px hsl(0 0% 100% / 100), 4px 2px 4px -1px hsl(0 0% 100% / 100);
  --shadow-lg:
    4px 4px 0px 0px hsl(0 0% 100% / 100), 4px 4px 6px -1px hsl(0 0% 100% / 100);
  --shadow-xl:
    4px 4px 0px 0px hsl(0 0% 100% / 100), 4px 8px 10px -1px hsl(0 0% 100% / 100);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 100% / 250);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
